<!DOCTYPE html>
<html>

<head>
	<title>Chitter</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
 <%= partial :signed_in %>
 <%= partial :not_signed_in %>
</header>

<section class="container">
	<%= partial :flash_notice %>
	<%= partial :flash_error %>
	<%= yield %>
</section>

<footer>
	<%= partial :footer %> 
</footer>
<script src='/javascript/jquery-2.1.1.min.js'></script>
<script src='/javascript/interactive_chitter.js'></script>
</body>
</html>