<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body id="dot-matrix">


<header>

  <%= partial :signed_in %>
  <%= partial :not_signed_in %>

</header>

<div class="container">

<%= partial :flash_notice %>

<%= partial :flash_error %>
  
  <%= yield %>
</div>
</body>
</html>